@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format(opentype);
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat+Brush&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(255, 182, 193, 0.34);
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

header{
    min-height: 150px;
    background-color: lightpink;
    text-align: center;
}

.titulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    font-weight: normal;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.252);
}

header > p{
    max-width: 500px;
    margin: auto;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.252);
    text-align: center;
}

nav{
    background-color: lightpink;
    padding: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.149);
}

nav > a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: rgba(77, 77, 239, 0.467);
    color: black;
    padding: 2px;
    padding: 10px;
}

main{
    min-width: 320px;
    max-width: 850px;
    background-color: white;
    margin: auto;
    padding-bottom: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.225);
    border-radius: 0px 0px 10px 10px;

}

h1{
    font-family: 'idroid', arial;
    color: pink;
    font-size: 30px;
    font-weight: normal;
    margin: auto;
    text-align: center;
    padding: 15px;
}

h2{
    text-align: center;
    font-size: 25px;
    color: white;
    background-image:linear-gradient(to right, white, lightpink, white);
}

p{
    text-indent: 20px;
    text-align: justify;
    padding: 0px 20px;
    margin: 15px 0px;
    line-height: 25px;
}

div.video{
    background-color: rgb(244, 55, 87); 
    margin: 20px 0px 20px 0px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main img {
    width: 90%;
    display: block;
    margin: auto;
}

main img.pequena {
    max-width: 350px;
    margin: auto;
}

main strong{
    background-color: lightpink;
    font-weight: bolder;
    border-radius: 10px;
    padding: 3px;
    color: white;
}

main a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(244, 55, 87);
}

main a:hover{
    background-color:  rgb(244, 55, 87);
    color: white;
    padding: 2px;
}

aside{
    background-color: rgba(255, 182, 193, 0.34);
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.271);
    max-width: 780px;
    margin: auto;
    border: 1px  rgb(244, 55, 87) solid;
}

aside h3{
    color: white;
    background-color: lightpink;
    border-radius: 10px 10px 0px 0px;
    font-size: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.229);
    padding-bottom: 10px;
    text-align: center;
}

aside ul{
    list-style-position: inside;
    text-indent: 20px;
    columns: 2;
}

footer{
    background-color: lightpink;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

